Repository dexter93/qmk_firmware, pull requests merged in 2022-10, with the labels that each got.

#11 Wear Leveling driver for SN32 platform
  builddefs/common_features.mk
  keyboards/handwired/onekey/sn32/rules.mk
  platforms/chibios/drivers/wear_leveling/wear_leveling_sn32_flash.c
  platforms/chibios/drivers/wear_leveling/wear_leveling_sn32_flash_config.h
Labels: keyboard, core, hacktoberfest-accepted

#14 K4 import for testing
  keyboards/keychron/k4/readme.md
  keyboards/keychron/k4/rgb/config.h
  keyboards/keychron/k4/rgb/info.json
  keyboards/keychron/k4/rgb/readme.md
  keyboards/keychron/k4/rgb/v1/config.h
  keyboards/keychron/k4/rgb/v1/info.json
  keyboards/keychron/k4/rgb/v1/keymaps/default/keymap.c
  keyboards/keychron/k4/rgb/v1/readme.md
  keyboards/keychron/k4/rgb/v1/rules.mk
  keyboards/keychron/k4/rgb/v1/v1.c
  keyboards/keychron/k4/rgb/v1/v1.h
Labels: keyboard, keymap

#13 sn32f240b matrix: introduce buffer and flush function
  drivers/led/sn32/rgb_matrix_sn32f24xb.c
  drivers/led/sn32/sn32f24xb.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: core
